header{
   /* position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;*/
   
    border: 4px solid #ccc;
    width: 100%;
    min-width: 150px;
    height: auto;
    padding: 5px;

}
.contenedor-header{
    border: 4px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.contendor-imagen{
    border: 4px solid blue;
    width: 100%;
    max-width: 250px;
    min-width: 150px;
    height:auto;

}
.imagen-header{
    width: 100%;
    object-fit: contain;
    
}
.titulo-header{
    flex: 1 1;
    min-width: 200px;
    text-align: center;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin: 10px;
    font-weight: 1000;
    padding: 5px;
    font-size: clamp(1rem, 6vw, 3rem);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center
}

.contenedor-nav{
    border: 4px solid #ccc;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-right: 20px;
    justify-content: end;
}
